* {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container-header1 {
  text-align: center;
}

.image-gallery {
  display: inline-flex;
  margin-bottom: 20px;
  gap: 20px;
}

.image-gallery img {
  width: 14.75%;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease;
}

.image-gallery img:hover {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.resized-url {
  text-align: center;
  margin-top: 10px;
}

.upload-message {
  text-align: center;
  margin-top: 25px;
}

.upload-form {
  text-align: center;
}

button {
  font-size: large;
  background-color: lightcoral;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  transition: ease 0.3s;
}

input {
  outline: none;
}

button:hover {
  background-color: lightsalmon;
}

select {
  outline: none;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  width: 175px;
}

#width,
#height {
  margin-right: 15px;
  font-size: 17px;
  text-align: center;
  border-radius: 25px;
  height: 50px;
  width: 120px;
  padding-left: 27px;
  padding-right: 10px;
  border: none;
  background: lightgrey;
}